<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04C0B3B7-C39D-49DF-A47B-7BD992788E42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>700073BE-FB3C-4682-BF43-87347C214065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D94BA25-5D84-425E-A7AD-691B3A72D5BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CD7AD6F-11C7-4846-B58D-4EE499E98BF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18328BE4-9746-464C-A2E5-87EC0524EA27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D94BA25-5D84-425E-A7AD-691B3A72D5BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>189C0B43-6E52-46E8-AD86-64D1CD1C21D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E18113BA-518D-4D37-A75A-A37155C55495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E394291-0A4A-42B7-8B91-392AD55D05C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CD7AD6F-11C7-4846-B58D-4EE499E98BF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A7232DF-DA83-49DC-A7D9-D2D0A004E3DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>189C0B43-6E52-46E8-AD86-64D1CD1C21D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C537E912-1A5C-498F-BF80-680759E20F23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B5B28F1-E423-41C2-8F92-B35946077090</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F810721F-E252-454D-914E-5928E3738669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04C0B3B7-C39D-49DF-A47B-7BD992788E42</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>700073BE-FB3C-4682-BF43-87347C214065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F810721F-E252-454D-914E-5928E3738669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77C997B8-83AB-4677-8375-D6C8D4CDF918</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E394291-0A4A-42B7-8B91-392AD55D05C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>18328BE4-9746-464C-A2E5-87EC0524EA27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AAD4267-AB0E-4066-9E3C-E82750829310</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A7232DF-DA83-49DC-A7D9-D2D0A004E3DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B20C92E-D57A-4595-B05A-317524AC1F49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B5B28F1-E423-41C2-8F92-B35946077090</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CA709ED-8543-485C-A51A-EE0684447ACE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A7232DF-DA83-49DC-A7D9-D2D0A004E3DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C537E912-1A5C-498F-BF80-680759E20F23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFB54447-EBF3-46AD-820F-37111215A43A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8FC6D41-80F0-4625-BF31-E0CFFD794091</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B20C92E-D57A-4595-B05A-317524AC1F49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFB54447-EBF3-46AD-820F-37111215A43A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8FC6D41-80F0-4625-BF31-E0CFFD794091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E18113BA-518D-4D37-A75A-A37155C55495</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B20C92E-D57A-4595-B05A-317524AC1F49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F066C7EB-E38C-4F2F-B265-FD64397C2E7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AAD4267-AB0E-4066-9E3C-E82750829310</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Max Rothman</string>
	<key>description</key>
	<string>AWS workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E18113BA-518D-4D37-A75A-A37155C55495</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>0|2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>189C0B43-6E52-46E8-AD86-64D1CD1C21D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lastaws</string>
				<key>subtext</key>
				<string>Search for instances with the last-used profile</string>
				<key>text</key>
				<string>lastaws</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8CA709ED-8543-485C-A51A-EE0684447ACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>./local-python aws.py search_for_instances --profile="$(cat caches/last-profile.cache)" '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for instances</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B5B28F1-E423-41C2-8F92-B35946077090</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F810721F-E252-454D-914E-5928E3738669</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./local-python aws.py prompt_for_mfa "$(cat caches/last-profile.cache)" '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Enter MFA token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C8FC6D41-80F0-4625-BF31-E0CFFD794091</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./local-python aws.py check_profile "$(cat caches/last-profile.cache)"
echo $?</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A7232DF-DA83-49DC-A7D9-D2D0A004E3DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8B20C92E-D57A-4595-B05A-317524AC1F49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CFB54447-EBF3-46AD-820F-37111215A43A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C537E912-1A5C-498F-BF80-680759E20F23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>outputaws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./local-python aws.py filter_output_fields "$(cat caches/last-output.cache)" '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select output field on last selection</string>
				<key>title</key>
				<string>outputaws</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>700073BE-FB3C-4682-BF43-87347C214065</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n '{query}' &gt; caches/last-output.cache</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04C0B3B7-C39D-49DF-A47B-7BD992788E42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>aws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching profiles...</string>
				<key>script</key>
				<string>./local-python aws.py get_profiles</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>profiles.py</string>
				<key>subtext</key>
				<string>Search for AWS instances</string>
				<key>title</key>
				<string>aws</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F066C7EB-E38C-4F2F-B265-FD64397C2E7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n '{query}' &gt; caches/last-profile.cache</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7AAD4267-AB0E-4066-9E3C-E82750829310</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3E394291-0A4A-42B7-8B91-392AD55D05C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9CD7AD6F-11C7-4846-B58D-4EE499E98BF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>70</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>#python aws.py --profile={var:profile} {query}
cat &lt;&lt;EOF
{"items":[
	{
		"title": "profile $profile query {query}"
	}
]}
EOF</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for instances</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>77C997B8-83AB-4677-8375-D6C8D4CDF918</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>18328BE4-9746-464C-A2E5-87EC0524EA27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>python aws.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>AWS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D94BA25-5D84-425E-A7AD-691B3A72D5BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04C0B3B7-C39D-49DF-A47B-7BD992788E42</key>
		<dict>
			<key>note</key>
			<string>Save output fields to caches/last-output.cache</string>
			<key>xpos</key>
			<integer>1360</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>0D94BA25-5D84-425E-A7AD-691B3A72D5BF</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>18328BE4-9746-464C-A2E5-87EC0524EA27</key>
		<dict>
			<key>note</key>
			<string>If we didn't have cached credentials before, we do now, so pass them into the script filter again</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>189C0B43-6E52-46E8-AD86-64D1CD1C21D0</key>
		<dict>
			<key>note</key>
			<string>If the creds are valid or the profile doesn't use an MFA...</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>3E394291-0A4A-42B7-8B91-392AD55D05C5</key>
		<dict>
			<key>note</key>
			<string>If we already have cached credentials, then the first script filter did the search, so we can just copy the result</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>5A7232DF-DA83-49DC-A7D9-D2D0A004E3DF</key>
		<dict>
			<key>note</key>
			<string>Check if the profile needs MFA, and if so, check temporary creds validity</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>6B5B28F1-E423-41C2-8F92-B35946077090</key>
		<dict>
			<key>note</key>
			<string>Default output if private IP</string>
			<key>xpos</key>
			<integer>1160</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>700073BE-FB3C-4682-BF43-87347C214065</key>
		<dict>
			<key>note</key>
			<string>Select output field</string>
			<key>xpos</key>
			<integer>1510</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>77C997B8-83AB-4677-8375-D6C8D4CDF918</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>7AAD4267-AB0E-4066-9E3C-E82750829310</key>
		<dict>
			<key>note</key>
			<string>Save profile to caches/last-profile.cache</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>8B20C92E-D57A-4595-B05A-317524AC1F49</key>
		<dict>
			<key>note</key>
			<string>Eat the output of the previous command, the next one only uses "profile"</string>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>8CA709ED-8543-485C-A51A-EE0684447ACE</key>
		<dict>
			<key>note</key>
			<string>Use default profile</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9CD7AD6F-11C7-4846-B58D-4EE499E98BF5</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>C537E912-1A5C-498F-BF80-680759E20F23</key>
		<dict>
			<key>note</key>
			<string>If the creds are invalid...</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C8FC6D41-80F0-4625-BF31-E0CFFD794091</key>
		<dict>
			<key>note</key>
			<string>Prompt user for MFA token and store it, then pass temp_creds along</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>CFB54447-EBF3-46AD-820F-37111215A43A</key>
		<dict>
			<key>note</key>
			<string>Eat the output of the previous command, the next one only uses "profile"</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>E18113BA-518D-4D37-A75A-A37155C55495</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F066C7EB-E38C-4F2F-B265-FD64397C2E7C</key>
		<dict>
			<key>note</key>
			<string>Choose profile</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>F810721F-E252-454D-914E-5928E3738669</key>
		<dict>
			<key>xpos</key>
			<integer>1690</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/maxrothman/aws-alfred-workflow</string>
</dict>
</plist>
